$ts-black: #323232;
$ts-darkBlack: #000000;
$ts-Accent: #ff2058;
$ts-Accent-light: #ff2058;
$ts-grey: #afafaf;
$ts-mid-grey: #e1e1e1;
$ts-light-grey: #fafafa;
$ts-white: #fff;

$ts-error: #d22d2d; //error red
