$tradeStats-black: #323232;
$tradeStats-blue: #0095ff;
$silver: #afafaf;
$white: #fff;

$tradeStats-darkBlack: #000000;
$tradeStats-darkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$error: #d22d2d; //error red
