@use './styles/partials/colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.App {
  text-align: center;
}

button {
  font: inherit;
  background: $ts-accent;
  padding: 0.5rem 2rem;
  color: $ts-white;
  border: 1px solid $ts-accent;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }

  &:focus {
    outline: none;
  }
}
